.intro .copy {
  text-align: start;
  padding-left: 1rem;
  padding: 0;
}

.horizontal-line {
  width: 10rem;
  height: 0.1rem;
  background-color: white;
  margin-bottom: 2rem;
}

.copy h1 {
  padding: 1rem 6.5rem 1rem 0;
  font-size: 3.8rem;
}

.copy .btn {
  margin: 1rem 0 0;
  padding: 0.5rem 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  border-radius: 0;
  border-width: 0.1rem;
}
