.intro .copy {
  text-align: start;
  padding-left: 1rem;
  padding: 0;
  /* height: 100vh; */
}

.horizontal-line {
  width: 10rem;
  height: 0.1rem;
  background-color: white;
  margin-bottom: 2rem;
}

.copy p {
  font-weight: 400;
}

.copy .btn {
  margin: 1rem 0 0;
  padding: 0.5rem 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  border-radius: 0;
  border-width: 0.1rem;
  position: absolute;
  z-index: 1;
}

.bg-copy-right {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 426px) {
  .intro .copy {
    background: url(../../../../public/images/bg-pattern-intro-left-mobile.svg) left top
      no-repeat;
  }
  .copy .btn {
    position: static;
  }
  .intro .horizontal-line {
    display: none;
  }
}
