.nav-bar {
  max-width: 100%;
}

.navbar {
  padding: 0;
}

.navbar-brand,
.navbar-toggler {
  margin: 1.5rem;
}
.navbar-collapse {
  padding: 1.5rem;
}

.navbar-nav .btn {
  border-radius: 0;
  padding: 0 1.4rem;
  margin-left: 1rem;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  border-width: 0.1rem;
}

.nav-links {
  color: var(--neutral-grayish-violet);
  margin: 0 0.2rem;
}

.navbar-toggler {
  --bs-navbar-toggler-focus-width: 0;
  padding: 0.2rem;
  border-radius: 0;
  border: 1.5px solid var(--neutral--dark-violet);
}

.navbar-collapse.collapse.show {
  background: url('../../../public/images/bg-pattern-mobile-nav.svg') no-repeat
    bottom;
  background-color: var(--neutral--dark-violet);
  background-size: contain;
  height: 100vh;
}

.navbar-collapse.collapse.show .btn {
  color: white;
  border: 2px solid white;
  margin-left: 0;
  margin-top: 1rem;
  padding: 0.4rem;
  font-weight: 500;
  font-size: 20px;
}

.navbar-collapse.collapse.show .nav-links.nav-link {
  color: white;
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
  .navbar-brand {
    margin-left: 2.375rem;
  }
  .navbar-collapse {
    padding-right: 2.375rem;
  }
}
@media only screen and (min-width: 1440px) {
  .navbar {
    padding: 0rem 3.8rem;
  }
}
