.about-us {
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.about-us .horizontal-line {
  width: 10rem;
  height: 0.1rem;
  background-color: var(--primary-grayish-blue);
  margin-bottom: 3rem;
}

/* .about-us h1 {
  font-size: 3rem;
} */

.about-us .card {
  text-align: start;
  padding: 0;
  border: none;
}

.about-us .card-body {
  padding: 0;
}

.about-us img {
  width: 5rem;
  height: 5rem;
}

.about-us .card-title {
  font-family: 'DM Serif Display', sans-serif;
  font-size: 2rem;
  margin: 2rem 0 1rem;
}

.about-us .card-text {
  color: var(--neutral-grayish-violet);
}

/* Call to Action */
.call-to-action {
  color: white;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-color: var(--primary-dark-violet);
  background-position: right center;
  background-size: auto 100%;
  /* object-fit: cover; */
  align-items: center;
  justify-content: space-between;
}

.call-to-action .col-sm-4 {
  /* text-align: end; */
}

.call-to-action .btn {
  border-radius: 0;
  /* margin-right: 2rem; */
}

@media only screen and (min-width: 769px) {
  .call-to-action h1 {
    /* margin-left: 2rem; */
    padding-right: 6rem;
  }
}
