.about-us {
  margin: 12rem 0 0;
  max-width: 100%;
  color: var(--primary-grayish-blue);
}

.about-us .horizontal-line {
  width: 10rem;
  height: 0.1rem;
  background-color: var(--primary-grayish-blue);
  /* margin-bottom: 3rem; */
  margin: 0 auto 3rem;
}

.about-us .card {
  padding: 0;
  border: none;
}

.about-us .card-body {
  padding: 0;
}

.about-us img {
  width: 5rem;
  height: 5rem;
}

.about-us .card-title {
  font-family: 'DM Serif Display', sans-serif;
  margin: 2rem 0 1rem;
}
.about-us h1 {
  font-family: 'DM Serif Display', sans-serif;
  margin: 2rem 0 1rem;
  color: var(--primary-dark-violet);
}

.about-us .card-text {
  color: var(--neutral-grayish-violet);
}

.about-us p {
  color: var(--neutral-grayish-violet);
}

/* Call to Action */
.call-to-action {
  color: white;
  background-image: url(../../../public/images/how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--primary-dark-violet);
  background-position: right center;
  background-size: auto 100%;
  align-items: center;
  justify-content: space-between;
}

.call-to-action .btn {
  border-radius: 0;
  border: 0.1rem solid white;
  padding: 0.8rem 1.5rem;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .call-to-action {
    background-image: url(../../../public/images/how-we-work-desktop.svg);
  }
  .about-us .horizontal-line {
    margin: 0 0 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .about-us {
    padding: 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .call-to-action h2 {
    padding-right: 6rem;
  }
  .about-us {
    padding: 3rem 7rem;
  }
}
